#container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
#cardContainer{
    /* border: 1px solid black; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#cardContainer div{
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#cardContainer img{
    display:block;
    height:50%;
}
#btn{
    background-color: green;
    color: white;
    height: 21px;
    width: 100px;
}